/*
Colors used:
Primary color (black): #121212;
Secondary color (light gray): #999999;
*/
body {
  font-family: 'Readex Pro', sans-serif;
}

body {
  background-color: #121212;
  font-family: 'Readex Pro', sans-serif;
  font-size: 18px;
  /* Sets the font size to 16px */
  font-weight: 300;
  /* Sets the font weight to 300 */
  line-height: 1.6;
  /* Sets the line-height to 1.6 * the font-size */
  color: #999999;
}

header {
  background-color: #121212;
  text-align: unset;
  margin: 10px;
  border-bottom: 3px solid #4a4a4a;
  padding: 10px 0 4px;
}

.logo {
  text-align: left;
  display: inline-block;
}

.logo svg {
  width: 250px;
  height: auto;
}

h1, h2, h3, h4 {
  line-height: 1.4;
}

h1 {
  font-size: 2.75em;
  font-weight: 700;
}

h2 {
  font-size: 2.25em;
  font-weight: 700;
}

h3 {
  font-size: 1.75em;
  font-weight: 400;
}

h4 {
  font-size: 1.35em;
  font-weight: 400;
}

img {
  width: 100%;
}

a {
  color: #ffffff;
  text-decoration: none;
  /*no underlining*/
}

a:hover,
a:focus {
  color: #999999;
  text-decoration: underline;
  /* Underlining when hovering over a link */
}

a:active {
  /* selected link */
  color: #E1C7C7;
}

h2 {
  color: #999999
}

img {
  width: 100%;
}

.button:hover {
  opacity: 0.8;
  /* Reduces the opacity of the button to 80% */
  text-decoration: none;
}

.button.contact {
  background-color: transparent;
  color: #999999;
  text-transform: uppercase;
  border: 2px solid #999999;
}

.button.contact:hover {
  background-color: #6D7278;
  color: #ffffff;
}

.button {
  display: inline-block;
  background-color: #ffffff;
  color: #121212;
  font-weight: 400;
  text-decoration: none;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid #994c30;
  transition: 0.2s opacity;
}

.button:hover {
  opacity: 0.8;
}

/* Layout styling */
.container {
  padding: 0 15px;
}

.row {
  margin: 25px 0;
  /* 25px top and bottom, 0 left and right */
}

main {
  padding-top: 56px;
}

#hero h1 {
  margin: 0;
  padding: 20px 0;
  display: inline-block;
  width: 100%;
  text-align: center;
  /* Centers text */
}

#hero span {
  display: block;
}

footer {
  text-align: center;
}

.logo {
  max-width: 50px;
}

.social {
  text-align: center;
}

.social a {
  display: inline-block;
  margin: 0 20px;
}

.social svg {
  width: 50px;
  height: auto;
}

nav>ul {
  list-style-type: none;
  padding: 0;
  margin-top: 0;
  margin: 0;
}

nav>ul>li {
  margin: 1em 0;
  display: inline-block;
}

.navtoggle li:not(:last-child) {
  display: none;
}

.navtoggle, .navtoggle.responsive {
  position: relative;
}

.navtoggle li .icon {
  position: absolute;
  right: 0;
  top: 2px;
  font-size: 20px;
  padding-right: 0;
}

.navtoggle.responsive li {
  display: block;
  padding: 10px 0;
  border-top: 1px solid rgba(153, 153, 153, 100);
}

.navtoggle.responsive li:last-child {
  padding: 0 0 10px;
}

nav>ul>li>a:visited {
  display: inline-block;
}

nav>ul>li>a {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 700;
  color: #D8D8D8;
}

#hero {
  background-color: #121212;
}

/* ==============================
Medium devices (640px and larger)
================================= */
@media only screen and (min-width: 640px) {
  header {
    text-align: unset;
    padding: 20px 0 13px;
  }

  .col-md-6 {
    width: 50%;
  }

  nav {
    width: auto;
    float: right;
    margin-top: 4px;
  }

  [class*="col-"] {
    float: left;
  }

  .row::after {
    content: "";
    clear: both;
    display: table;
  }

  .logo {
    float: left;
    padding-top: 5px;
  }

  .container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }

  nav>ul>li {
    margin: 0;
  }

  .navtoggle::after {
    content: "";
    clear: both;
    display: table;
  }

  .navtoggle li:not(:last-child) {
    display: inline-block;
  }

  .navtoggle li:last-child {
    display: none;
  }
}

/* ==============================
Large devices (1024px or larger)
================================= */
@media only screen and (min-width: 1024px) {
  .col-lg-7 {
    width: 60%;
  }

  .col-lg-5 {
    width: 40%;
  }
}

/* ==============================
X-large devices (1440px or larger)
================================= */
@media only screen and (min-width: 1440px) {}

@keyframes color-change {
  from {
    fill: #edc655;
  }

  to {
    fill: #f76414;
  }
}

@keyframes color-change {
  0% {
    fill: #edc655;
  }

  50% {
    fill: #fcffad;
  }

  100% {
    fill: #f76414;
  }
}

.sun {
  animation: 4s color-change infinite alternate linear;
}

@keyframes cloud-move {
  from {
    transform: translate(0, 50px);
  }

  to {
    transform: translate(200px, 50px);
  }
}

.cloud-front {
  animation: 30s cloud-move infinite alternate linear;
}

@keyframes cloud-move-reverse {
  from {
    transform: translate(446px, 48px);
  }

  to {
    transform: translate(100px, 48px);
  }
}

.cloud-back {
  animation: 34s cloud-move-reverse infinite alternate linear;
}
